body {
  font-family:Mukta Vaani;
  background-color: #C7D7F2;
  margin: 0 auto;
  max-width: 55em;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 0.8;
}

.kdo {background-color: #9EBEF5}

img {
  width:200px;
  border: 3px solid #0F53C8;
  padding: 0.6rem; 
  margin: 0.3rem;